Options -Indexes

RewriteEngine on

# Tambahkan header keamanan untuk melindungi dari clickjacking
<IfModule mod_headers.c>
    Header unset X-Powered-By
    Header always set X-Frame-Options "DENY"
    Header always set X-Content-Type-Options "nosniff"
    Header set Content-Security-Policy "default-src 'self';style-src 'self' 'unsafe-inline';img-src 'self' blob: data: https:;style-src 'self' 'unsafe-inline';script-src 'self' 'unsafe-eval';frame-ancestors 'self';frame-src 'self' blob:;"
   


</IfModule>

Header unset Server

# Redirect semua request yang tidak mengarah ke file atau folder yang ada ke index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php/$0 [PT,L]

# Tangani Authorization Header
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]